.house-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  width: 200px;
  height: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.house-card:hover {
  transform: translateY(-5px);
}

.house-card img {
  width: 100%;
  height: 250px;
  object-fit: initial;
}

.house-card h4 {
  margin: 10px;
  font-size: 20px;
  color: #333;
}

.house-card a {
  display: block;
  padding: 10px;
  background-color: #1e90ff;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.house-card a:hover {
  background-color: #006bb3;
}

.cards .card {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}